# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
data/
*.csv
*.xlsx
*.json

# Model files
*.h5
*.keras
*.pkl
*.joblib
*.pt
*.pth

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log