<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Image Classifier" />
    <meta name="description" content="Welcome to Henry's Image Classifier Website" />
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Image Classifier</title>
</head>
<body>
    <header>
        <a href="/" class="logo">Henry Tran</a>
        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
                <li><a href="dense_model">Dense Network Model</a></li>
                <li><a href="/">CNN Model</a></li>
                <li><a href="https://henrytran07.github.io/">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <main></main>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-socials">
                <a href="https://linkedin.com/in/..." class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/henrytran07" class="github"><i class="fab fa-github"></i></a>
                <a href="mailto:you@email.com" class="email"><i class="fas fa-envelope"></i></a>
            </div>
            <p class="footer-credit">© 2026 Henry Tran</p>
        </div>
    </footer>
</body>
</html>